.services {
  min-height: 92vh;
  background: linear-gradient(90deg, #fff, #ccc1b5);
  overflow: hidden;
  font-size: 0.9rem;
  .servicesContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    .head {
      font-size: 3rem;
      margin: 1.3em 0 0.6em 0;
      text-align: center;
      font-weight: 500;
    }
    .content {
      display: flex;
      .text {
        flex: 2;
        font-size: 1.2rem;
        margin: 0.5em;
        text-align: right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .service {
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          background: #fbfbfb;
          border-radius: 6px;
          height: 12vh;
          margin: 0.5rem;
          padding: 10px;
        }
      }
      .imgWrapper {
        flex: 1;
        display: flex;
        img {
          max-height: 70vh;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .services {
    .servicesContainer {
      .content {
        .text {
          font-size: 1.1rem;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    .servicesContainer {
      .head {
        font-size: 2rem;
      }
      .content {
        flex-direction: column;
        .text {
          text-align: center;
          font-size: 0.9rem;
          margin: 0;
          .service {
            margin: 0.5em 0;
          }
        }
        .imgWrapper {
          display: none;
        }
      }
    }
  }
}
